:root {
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-accent: #daf6ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-dark);
  display: grid;
  place-items: center;
  height: 100vh;
}

.clock-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-accent);
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.25em;
}
